
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Configuracionejs.css">
    <title>Update</title>
</head>
<body>
    <section>
            <form form id="register-form" action="/update">
                <h1>Update</h1>
                <div class="InBox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <!-- No mover--> <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required>
                    <label for="email">Email: </label>
                </div>
                <div class="InBox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <!-- No mover--> <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <label for="">Password: </label>
                </div>
                <div class="InBox">
                    <ion-icon name="mail-outline"></ion-icon><!-- change icon--> 
                    <!-- No mover--> <input type="text" name="phone" id="phone" placeholder="Número de Teléfono" required>
                    <label for="">Numero de telefono: </label>
                </div>
                <div class="InBox">
                    <ion-icon name="mail-outline"></ion-icon><!-- change icon--> 
                    <!-- No mover--> <input type="email" name="email" id="email" placeholder="Correo Electrónico" required>
                    <label for="">e-mail: </label>
                    
                </div>
                
                    <button class="Inicio" onclick="window.location.href='/perfil'">Inicio</button>
                    <button class= "Update" type="submit" >Actualizar</button>
                    <button class="Delete" onclick="window.location.href='/Delete'">Eliminar cuenta</button>
                
               
            </form>
            
    </section>
    
</body>
</html>
