<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="/styles/login.css" rel="stylesheet" type="text/css">     
</head>
<body>
    <container>
            <header>
                <nav>
                    <input type="checkbox" id="toggle">
                    <div class="logo">
                      Gordos Oldies Music</div>
    
                    <ul class="list">
                        <li><a href="Contacto.html">CONTACTO</a></li>
                        <li><a href="index.html"> INICIO</a></li>
                    </ul>
    
                    <label for="toggle" class = "icon-bars">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </label>
                </nav>
            </header>
        <main>
            <div class="login-container">
                <h2>Iniciar Sesión</h2>
                <!-- No mover--> <form id="login-form" action="/login">
                    <!-- No mover--> <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required>
                    <br>
                    <!-- No mover--> <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <br>
                    <!-- No mover--> <button type="submit">Ingresar</button>
                    <br>
                    <br>
                    <!-- No mover--> <button onclick="window.location.href='/'">Regresar</button>
                    <br>
                </form>
                <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            </div>
        </main>
            <footer>
                    Abaut Me, Copirygth
            </footer>
        
    </container>
</body>
</html>