<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Pantera</title>
    <!-- Agrega la clave de la API de Google Maps a continuación -->
    <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_DE_API"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url('https://i.pinimg.com/originals/50/a5/f5/50a5f5b3692bfda4e661130a0f61e598.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .menu {
            text-align: left;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .menu p {
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            color: white;
            cursor: pointer;
            display: inline-block;
            margin-right: 20px;
        }
        .title {
            font-family: 'Brush Script MT', cursive;
            font-size: 36px;
            color: white;
            text-shadow: 2px 2px 4px #000;
        }
        .subtitle {
            text-align: center;
            font-size: 60px;
            color: white;
        }
    </style>
</head>
<body>
    
    <div style="width: 1530px; height: 1000px; position: relative;">
        <div class="menu">
            
            </a>
            <a href="mapa.html" style="text-decoration: none;">
                <p>MAPA</p>
            </a>
           
            <a href="/govideos" style="text-decoration: none;">
                <p>VIDEOS</p>
            </a>
            <a href="gira.html" style="text-decoration: none;"> <!-- Enlace a gira.html -->
                <p>GIRA</p>
            </a>
            <p>LA BANDA</p>
            <p>EPK</p>
            <p>Reserva online</p>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <span class="title">¡Bienvenidos a Grupo Pantera!</span>
            <h1 class="subtitle">Música de alta energía que enciende tu alma</h1>
            <img alt="" width="529" height="298" style="width: 529px; height: 200px; object-fit: contain;" src="https://static.wixstatic.com/media/05e3dc_b7024e67fd35492d9990dda97ea8aa33.png/v1/fill/w_595,h_313,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/05e3dc_b7024e67fd35492d9990dda97ea8aa33.png">
        </div>
    </div>

</body>
</html>