<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link href="/styles/registrar.css" rel="stylesheet" type="text/css">     
</head>
<body>
    <container>
            <header>
                <nav>
                    <input type="checkbox" id="toggle">
                    <div class="logo">
                      Gordos Oldies Music</div>
                      <ul class="list">
                        <li><a href="/perfil">Inicio</a></li>
                    </ul>
    
                  
                    <label for="toggle" class = "icon-bars">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </label>
                </nav>
            </header>
        <main>
            <div class="register-container">
                <h2>Registrarse</h2>
                <!-- No mover--> <form id="register-form" action="/createusuario">
                    <!-- No mover--> <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required>
                    <br>
                    <!-- No mover--> <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <br>
                    <!-- No mover--> <input type="text" name="phone" id="phone" placeholder="Número de Teléfono" required>
                    <br>
                    <!-- No mover--> <input type="email" name="email" id="email" placeholder="Correo Electrónico" required>
                    <br>
                    <button type="submit">Registrar</button>
                    <br>
                </form>
                <button onclick="window.location.href='/gologin'">Login</button>
            </div>
        </main>
            <footer>
                    Abaut Me, Copirygth
            </footer>
        
    </container>
</body>
</html>